{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-12 col-lg-8 login-container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 login-on-gif-text">
                You are logged in as {{ app.user.username }}, <a class="text-danger" href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="mb-5 login-on-gif-text">Sign in</h1>
        <label for="inputEmail" class="mt-3 login-on-gif-text">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword" class="mt-4 login-on-gif-text">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mt-3">
            <label class="login-on-gif-text">
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <div class="col-12 d-flex justify-content-end">
            <button class="btn" type="submit">
                Sign in
            </button>
        </div>
    </form>
</div>
    <div class="white-space"></div>
{% endblock %}
