{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid register-container">
    <div class="container col-12 col-lg-6 mt-5 register-box">
        <div class="col-12">
            <h1 class="register-word mt-2 mb-5">Register</h1>
        </div>
        {{ form_start(registrationForm) }}
        <div class="col-12 mt-2 register-form">
            {{ form_row(registrationForm.name) }}
        </div>
        <div class="col-12 register-form">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="col-12 register-form">
            {{ form_row(registrationForm.plainPassword) }}
        </div>
        <div class="col-12 register-form">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <div class="col-12 text-danger">
            <p><small class="text-danger">* Required Fields</small></p>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn">Register</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
    <div class="white-space"></div>
{% endblock %}
