{% extends 'base.html.twig' %}

{% block body %}
<div class="div-container-fluid">
    <div class="container-fluid d-flex justify-content-end mt-3 mr-5">
        <h1 id="big-title" class="mr-5 mb-3"> {{ category }}</h1>
    </div>
        <div class="container-fluid py-3 themed-articles-box">
            <div class="row justify-content-center themed-articles-row">
            {% for article in articles %}
                <div class="m-5 col-12 col-lg-4">
                    <h3>{{ article.title }}</h3>
                    <h5 class="subject">{{ article.subject }}</h5>
                    <h5>{{ article.author }}</h5>
                    <img class="img-fluid mt-2" src="{{ article.image }}" width="400" height="250">
                    {% if app.user %}
                        <i id="watchlist-{{ article.id }}" class="{{ app.user.isInWatchlist(article) ? 'fas' : 'far' }} fa-heart watchlist"
                           data-href="{{ path('article_watchlist', {'id': article.id}) }}"></i>
                    {% endif %}
                    <div class="container-fluid themed-articles-btn">
                        <a href="{{ path('article_show_one', {'id': article.id}) }}" class="btn">See More</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
</div>
    <div class="white-space"></div>
{% endblock %}
{% block javascripts %}
    {% for article in articles %}
        <script>
            document.querySelectorAll("#watchlist-{{ article.id }}").forEach(function(link) {
                link.addEventListener('click', addToWatchlist);
            });
            function addToWatchlist(event) {
                event.preventDefault();
                let watchlistIcon = event.target;
                let link = watchlistIcon.dataset.href;
                fetch(link)
                    .then(function (response) {
                        if (watchlistIcon.classList.contains('far')) {
                            watchlistIcon.classList.remove('far');
                            watchlistIcon.classList.add('fas');
                        } else {
                            watchlistIcon.classList.remove('fas');
                            watchlistIcon.classList.add('far');
                        }
                    });
            }
        </script>
    {% endfor %}
{% endblock %}
