{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-12 mt-5">
    <div class="row">
        <h1 id="one-article-big-title">{{ article.title }}</h1>
        <div class="container-fluid d-flex justify-content-center flex-wrap m-5">
            <div class="col-12 col-lg-3">
                <h3> {{ article.title }}</h3>
            </div>
            <div class="col-12 col-lg-2">
                <h4 class="m-3 subject">{{ article.subject }}</h4>
            </div>
            <div class="col-12 col-lg-1">
                <h6 class="m-3">{{ article.publishedAt|date('d F Y')}}</h6>
            </div>
            <div class="col-12 col-lg-2">
                <h6 class="m-3">{{ article.author }}</h6>
            </div>
            <div class="col-12 col-lg-4">
                <img src="{{ article.image }}" class="img-fluid m-3">
                {% if app.user %}
                    <i id="watchlist" class="{{ app.user.isInWatchlist(article) ? 'fas' : 'far' }} fa-heart watchlist"
                       data-href="{{path('article_watchlist', {'id': article.id})}}"></i>
                {% endif %}
            </div>
            <div class="col-12">
                <h5 class="mt-5">{{ article.content }}</h5>
            </div>
        </div>
        <a href="{{ path('articles_show_byCategory', {'slug': slug}) }}"><h3 class="ml-5 theme-word">#{{ category }}</h3></a>
    </div>
</div>
<div class="container-fluid embed-responsive embed-responsive-16by9 col-10 col-lg-5 one-article-video-box">
    <iframe src="{{ article.mediaLink }}" class="embed-responsive-item my-3" frameborder="0" allow="accelerometer;
    autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    <div class="container-fluid col-12 px-4 container-wild">
        <div class="container">
            <h3 class="comment-title">Comments</h3><br>
            {% for comment in comments|reverse %}
                <h5>{{ comment.author.name }}</h5>
                <h6>{{ comment.postedAt|date('d F Y')}}</h6>
                <p>{{ comment.comment }}</p>
            {% endfor %}
            {% if app.user %}
                <div class="container">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="container d-flex justify-content-end">
                        <button class="btn">{{ button_label|default('Post') }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="white-space"></div>
{% endblock %}
{% block javascripts %}
    <script>
        document.querySelector("#watchlist").addEventListener('click', addToWatchlist);
        function addToWatchlist(event) {
            let watchlistIcon = event.target;
            let link = watchlistIcon.dataset.href;
            fetch(link)
                .then(function(response) {
                    if(watchlistIcon.classList.contains('far')) {
                        watchlistIcon.classList.remove('far');
                        watchlistIcon.classList.add('fas');
                    } else {
                        watchlistIcon.classList.remove('fas');
                        watchlistIcon.classList.add('far');
                    }
                });
        }
    </script>
{% endblock %}
