{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1> {{ article.title }}</h1>
            <div class="container">
                <ul>
                    <li>{{ article.title }}</li>
                    <li>{{ article.subject }}</li>
                    <li>{{ article.publishedAt|date('d F Y')}}</li>
                    <li>{{ article.author }}</li>
                    <li><img src="{{ article.image }}"></li>
                    <li>{{ article.content }}</li>
                    <li>{{ article.mediaLink }}</li>
                    <li><a href="{{ path('articles_show_byCategory', {'slug': slug}) }}">{{ category }}</a></li>
                </ul>
                <div class="container">
                    <h3>Comments:</h3><br>
                    {% for comment in comments|reverse %}
                        <h4>{{ comment.author.name }}</h4>
                        <h6>{{ comment.postedAt|date('d F Y')}}</h6>
                        <p>{{ comment.comment }}</p>
                    {% endfor %}
                    {% if app.user %}
                        <div class="container">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button class="btn">{{ button_label|default('Post') }}</button>
                            {{ form_end(form) }}
                        </div>
                    {% endif %}
                </div>
                <a href="{{ path('articles_show_all') }}">Back to Blog</a>
            </div>
    </div>
{% endblock %}
