{% extends 'base.html.twig' %}

{% block body %}
    <h1 id="big-title" class="text-right mr-5">Change Profile Picture</h1>
        <div class="container-fluid col-10 my-5">
        {{ form_start(form) }}
            {{ form_widget(form.email, {"attr": {"class": "d-none"} }) }}
            {{ form_widget(form.name, {"attr": {"class": "d-none"} }) }}
            {{ form_widget(form.avatarFile, {"attr": {"class": "form-control-file my-2"}}) }}
        <button class="btn my-5">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
            <a href="{{ path('profile', {'id': user.id}) }}">Return to Profile</a>
        </div>
    <div class="white-space"></div>
{% endblock %}
