{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="container-fluid col-12 col-md-8 col-lg-6">
        <h1>Edit Profile</h1>

        {{ form_start(form) }}
        {{ form_widget(form.email) }}
        {{ form_widget(form.name) }}
        {% if user.avatar is empty %}
            {{ form_widget(form.avatarFile, {"attr": {"class": "form-control-file my-2"}}) }}
        {% elseif user.avatar is not empty %}
            {% do form.avatarFile.setRendered(false) %}
            <img src=" {{ asset('uploads/files/' ~ user.avatar) }}">
            </div>
        {% endif %}
        <button class="btn mt-5">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

        {{ include('user/_delete_form.html.twig') }}
        <a href="{{ path('profile', {'id': user.id}) }}">Return to Profile</a>
    </div>
</div>
    <div style="height: 400px"></div>
{% endblock %}
